.services {
    width: 90%;
    margin: 5%;
    color: black;
    display: flex;
    flex-wrap: wrap;
}

.services>* {
    flex: 25%;
}

.serviceItem {
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
}

.logo {
    width: 70px;
    height: 70px;
    margin-top: 10px;
    border-radius: 50%;
    border: 1px solid rgb(102, 102, 102);
}

.title {
    font-size: 15px;
}

.description {
    font-size: 0.9rem;
}